*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*pading & border are included in width & height of element*/

}
body{
    font-family: 'Arial', 'sans-sarif' ;
    -webkit-font-smoothing: antialiased;
    background-color: black;
    color: #999;
}
ul{
    list-style: none;
}
h1,h2,h3,h4{
    color:white;
}
a{
    color: white;
    text-decoration: none;
}
p{
    margin: 0.5rem 0;
    color:white;
}
img{
    width:100%;
}
/* header */
.navbar{
    width:100%;
    height: 110vh;
    position:relative;
    background: url('img/bg1-bg.jpeg')no-repeat center center/cover;
}
.navbar::after{
content: '';
position: absolute;
top: 0;
left:0;
width: 100%;
height: 100%;
z-index: 1;
background:rgba(0,0,0,0.6);
box-shadow: inset 20px 10px 100px #000 , inset -20px -10px 250px #000;
}
.top_nav{
    position: relative;
    height:90px;
    z-index: 2;
}
.top_nav img{
    width:170px;
    position:absolute;
    left:3%;
     position:absolute;
     top:50%;
    left:50%;
transform:translate(-50%, -50%);
}
.top_nav button{
    position: absolute;
    top:30%;
    right:5%;
}

/* dropdown */
 .language_drop{
    background: transparent;
    border:none;
    color:white;
    }

    .language_drop:focus{
        outline:none;
    }

    .optn{
        color:black;
    }
    
    .navbar_link1{
        position: absolute;
        top:4.5vh;
        right:32vh;
        border: 1px solid white;
        padding: 0.4rem;
        border-radius: 4px;
    }
     

.showcase_content{
    text-decoration: bold;
    position: relative;
    z-index: 2;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
}
.showcase_content h1{
    font-weight: 500 bold;
    font-size: 3.2rem;
    line-height: 1.1;
    margin:0 0 1rem;
}
.showcase_content h3{
    margin:0 0 1rem;
    font-size: 1.2rem;
}
.showcase_content p{
font-weight:100;
line-height: 1.1;
margin:0 0 1rem;
}

/* buttons */
.btn{
display: inline-block;
background: #dc030f;
color:#fff;
padding:0.4rem 1.3rem;
font-size: 1rem;
text-align: center;
border: none;
margin-right: 0.5rem;
box-shadow: 0 1px 0 rgba(0, 0,0,0.45);
cursor:pointer;
border-radius: 2px;
}

.btn:hover{
   opacity:0.9;
}

.btn-rounded{
    border-radius: 4px;
}
.btn-xl{
    font-size: 1rem;
    padding: 1rem 1.1rem;
    text-transform: uppercase;
}
/* tabs */
.tab{
background: #141414;
padding-top: 1rem;
border-bottom: 3px solid #3d3d3d;
border-right:none;

}

.container{
    max-width:70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.tab .container > div{
    padding: 1.5rem 0;
}

.tab .container > div:hover{
color:#fff;
cursor:pointer;
}

.tab p{
    color:gray;
}

.tab .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tab-border{
    border-bottom: #dc030f 4px solid; 
}

/* tab-content 1 */
#tab-1-content .tab-1-content-inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}
/* tab-content 2 */
#tab-2-content .tab-2-content-top{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
}

#tab-2-content .tab-2-content-bottom{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* 
hide contents */
#tab-1-content{
    display: none;
}
#tab-2-content{
    display: none;
}
#tab-3-content{
    display: none;
}
.show{
    display:block !important;
}
.text-xl{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.tab-content{
    color:#fff;
    padding: 3rem 0;
    background: black;
}
.text-dark{
color:grey;
}

.text-center{
    text-align: center;
}

/* 
table */
.table{
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
}

.table thead th{
    text-transform: uppercase;
    padding: 0.8rem;
}

.table tbody tr td{
    color:#999;
    padding: 0.8rem 1.2rem;
    text-align: center;
}

.table tbody tr td:first-child{
    text-align: left;
}

.table tbody tr:nth-child(odd){
    background: #222;
}

.footer{
    border-top: 3px solid #3d3d3d;
    max-width: 75%;
    margin: 1rem auto;
    overflow:auto;
    color:#999;
}

.footer a{
    color: #999;
    font-size: 0.9rem;
}
.footer p{
    margin-bottom: 1.5rem;
}

.footer .footer-cols{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:2rem;
}

.footer li{
    line-height: 1.9;
}

.footer-p{
    margin-top: 2rem;
    color:#999;
}


@media(max-width: 960px)
{
    .navbar::after{
        box-shadow: inset 5px 5px 100px #000 , inset -5px -5px 250px #000;   
    }
    .hide-sm{
        display:none;
    }
    .top_nav img{
        top: 30%;
        left:5%;
        transform: translate(0);
    }
    .btn-xl{
        font-size:1.5rem;
        padding: 1rem 1rem;
    }
    .text-xl{
        font-size: 1.5rem;
    }
   .footer .footer-cols{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 400px){
    .navbar_link1{
        position:absolute;
       margin-top: 9vh;
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-content: end;
   }  


}



@media(max-width: 700px){
    #tab-1-content .tab-1-content-inner{
        grid-template-columns: 1fr;
        text-align: center;
    }
    #tab-2-content .tab-2-content-top{
        grid-template-columns: 1fr;
        text-align: center;
    }
    #tab-2-content .tab-2-content-bottom{
        grid-template-columns: 1fr;
    }
    .navbar_link1{
        position: absolute;
        top:4.5vh;
        right:24vh;
   }  
}